extends ../layout/main
block variables
	- var title = 'webpack + pug'
	- var description = 'webpack + pug'
	- var pageClass = 'inner-page'
block header
	.logo
		a(href='#')
			img(url)
	.title
	.count

